<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/checkout.css' />
    <script
      src='https://js.braintreegateway.com/web/dropin/1.44.1/js/dropin.min.js'
    ></script>
    <script
      src='https://www.paypal.com/sdk/js?client-id={{paypalClientId}}'
    ></script>
    <script src='/js/checkout.js'></script>
  </head>
  <body>
    {{{body}}}
    <!-- Render the content of the page -->
  </body>
</html>